VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=enciendewebapp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=enciendewebapp
VITE_FIREBASE_STORAGE_BUCKET=enciendewebapp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
